EbookLib==0.18
lxml==4.9.3
numpy==1.25.2
protobuf==4.23.4
pybind11==2.11.1
PyYAML @ file:///private/tmp/pyyaml-20230717-6270-1iiwi1j/PyYAML-6.0.1
six==1.16.0
typing_extensions @ file:///private/tmp/python-typing-extensions-20230702-5533-jv3t41/typing_extensions-4.7.1/dist/typing_extensions-4.7.1-py3-none-any.whl
